.whatsappbtndiv{
    position: fixed;
    top: 90% !important;
    right: 1% !important;
    z-index: 999 !important;
}

@media only screen and (max-width: 600px) {
    /* .whatsappbtndiv{
        display: none !important;
    } */
}
